

.cell1{
position: absolute; /* Абсолютное позиционирование */
    left: 0px; /* Положение элемента от левого края */
    top: 0px; /* Положение от верхнего края */
}

.cell2{
position: absolute; /* Абсолютное позиционирование */
    left: 250px; /* Положение элемента от левого края */
    top: 0px; /* Положение от верхнего края */
}

.cell3{
position: absolute; /* Абсолютное позиционирование */
    left: 500px; /* Положение элемента от левого края */
    top: 0px; /* Положение от верхнего края */
}

.cell4{
position: absolute; /* Абсолютное позиционирование */
    left: 750px; /* Положение элемента от левого края */
    top: 0px; /* Положение от верхнего края */
}